<!DOCTYPE html>
html
  head
    title RepoSense Report
    link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Titillium+Web")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/normalize.css@8.0/normalize.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/muicss@0.9/dist/css/mui.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/highlight.js@9.14/styles/color-brewer.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css")
    link(rel="stylesheet", href="static/css/panels.css")
    link(rel="stylesheet", href="static/css/style.css")
    link(rel="stylesheet", href="static/css/v_authorship.css")
    link(rel="stylesheet", href="static/css/v_ramp.css")
    link(rel="stylesheet", href="static/css/v_summary.css")
    link(rel="stylesheet", href="static/css/v_zoom.css")

    // indirect dependencies
    script(src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js")
    script(src="https://use.fontawesome.com/releases/v5.0.13/js/all.js", defer=True)

    script(src="https://cdn.jsdelivr.net/npm/minimatch@0.2.14/minimatch.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@fortawesome/vue-fontawesome@0.1.9/index.min.js")
    script(src="https://cdn.jsdelivr.net/npm/jszip@3.1/dist/jszip.min.js")
    script(src="https://cdn.jsdelivr.net/npm/seedrandom@3.0.5/seedrandom.min.js")
    script(src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3")
    script(src="https://unpkg.com/vue@3.0.7/dist/vue.global.js")
    script(src="https://unpkg.com/vuex@4.0.0/dist/vuex.global.js")

    script(src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.14/build/highlight.min.js")
    script(src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.14/build/languages/asciidoc.min.js")
    script(src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.14/build/languages/gradle.min.js")
    script(src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.14/build/languages/plaintext.min.js")
    script(src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.14/build/languages/scss.min.js")
    script(src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.14/build/languages/yaml.min.js")
  body
    #app

    vuetemplate#v_app
      include app.pug

    vuetemplate#v_resizer
      include resizer.pug

    vuetemplate#v_summary
      include summary.pug

    vuetemplate#v_summary_charts
      include summary_charts.pug

    vuetemplate#v_ramp
      include ramp.pug

    vuetemplate#v_zoom
      include tabs/zoom.pug

    vuetemplate#v_segment
      include tabs/segment.pug

    vuetemplate#v_authorship
      include tabs/authorship.pug

    script(src="static/js/api.js")
    script(type="module", src="static/js/store.js")
    script(src="static/js/safari_date.js")
    script(src="static/js/v_resizer.js")
    script(src="static/js/v_ramp.js")
    script(src="static/js/v_zoom.js")
    script(src="static/js/v_summary_charts.js")
    script(src="static/js/v_segment.js")
    script(src="static/js/v_summary.js")
    script(src="static/js/v_authorship.js")
    script(src="static/js/utils/ramp_colour_generator.js")
    script(src="static/js/utils/repo_sorter.js")
    script(type="module", src="static/js/main.js")
