#summary-charts
  dynamic-scroller.scroller(
    :items="filteredRepos"
    :min-item-size="100"
    )
    template(v-slot="{ item, index, active }")
      dynamic-scroller-item.summary-charts(
        :item="item"
        :active="active"
        :size-dependencies="[item]"
        :data-index="index"
        )
        h1 hahaha
